<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<ion-view view-title="修改密码">
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">手机 :</span>
                <input type="text" placeholder="请输入手机号码" />
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">输入密码 :</span>
                <input type="text" placeholder="6-16个字符，区分大小写" />
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">确认密码 :</span>
                <input type="text" placeholder="6-16个字符，区分大小写" />
            </label>
            <label class="item item-input item-stacked-label security-code">
                <span class="input-label">验证码 :</span>
                <input type="text" placeholder="1234" />
                <a class="button button-small">获取验证码</a>
            </label>
            <a class="button submit button-block">确认修改</a>
        </div>
    </ion-content>
</ion-view>
</body>
