<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<ion-view view-title="个人中心">
    <ion-content>
        <div class="circle_1" id="pcCircle"><div class="circle_2"><div class="circle_3"><div class="circle_4"></div></div></div></div>
        <div class="userName">
            <div>用户名</div>
            <div>123456789</div>
        </div>
        <div class="card">
            <a href="#" class="item item-icon-left">
                <i class="icon ion-iphone"></i>
                手机
                <div>123456789</div>
            </a>
        </div>
        <div class="card">
            <a href="#" class="item item-icon-left">
                <img src="img/QQ.png" alt="QQ icon" />
                QQ
                <div>123456</div>
            </a>
        </div>
        <div class="card">
            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-email-outline"></i>
                邮箱
                <div>123456@example.com</div>
            </a>
        </div>
        <a class="button button-block" ng-click="personalCenterEdit()">修改</a>
    </ion-content>
</ion-view>
</body>
